{{#jackson}}
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
{{/jackson}}
{{#jsonb}}
import jakarta.json.bind.annotation.JsonbCreator;
import jakarta.json.bind.annotation.JsonbProperty;
{{/jsonb}}

{{#vendorExtensions.x-enum-labels}}
/**
 * {{description}}
 */
public enum {{classname}} {
    {{#allowableValues}}
    {{#enumVars}}
    {{name}}("{{value}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}

    private String value;
    private String label;

    {{classname}}(String value) {
        this.value = value;
        {{#vendorExtensions.x-enum-labels}}
        this.label = getLabel(value);
        {{/vendorExtensions.x-enum-labels}}
    }

    {{#jackson}}
    @JsonValue
    {{/jackson}}
    public String getValue() {
        return value;
    }

    public String getLabel() {
        return label;
    }

    {{#jackson}}
    @JsonCreator
    {{/jackson}}
    {{#jsonb}}
    @JsonbCreator
    {{/jsonb}}
    public static {{classname}} fromValue(String value) {
        for ({{classname}} b : {{classname}}.values()) {
            if (b.value.equals(value)) {
                return b;
            }
        }
        throw new IllegalArgumentException("Unexpected value '" + value + "'");
    }

    private String getLabel(String value) {
        {{#vendorExtensions.x-enum-labels}}
        switch(value) {
            {{#.}}
            case "{{key}}": return "{{value}}";
            {{/.}}
            default: return value;
        }
        {{/vendorExtensions.x-enum-labels}}
    }
}