// SIMPLE CUSTOM ENUM WITH CUSTOM STRING VALUES
public enum {{classname}} {
{{#allowableValues}}
    {{#enumVars}}
        {{name}}("{{#vendorExtensions.x-enum-labels}}{{vendorExtensions.x-enum-labels.{{value}}}}{{/vendorExtensions.x-enum-labels}}{{^vendorExtensions.x-enum-labels}}{{value}}{{/vendorExtensions.x-enum-labels}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
        {{/enumVars}}
        {{/allowableValues}}

        private String value;

        {{classname}}(String value) {
        this.value = value;
        }

        public String getValue() {
        return value;
        }

        @Override
        public String toString() {
        return this.value;
        }
        }